html, body{
  background: url(./assets/app_backdrop.jpg) no-repeat center center fixed;
  background-size: cover;
}

.App {
  display: flex;
  width: 100%;
  margin: 0;
}

.leftSide{
  display: flex;
  width: 70%;
}



